{{define "home"}}
<main id="main" class="flex-grow p-6 max-w-screen-lg">
    <div class="relative w-full overflow-auto">
        {{template "todo-table" .}}
    </div>
    <div class="p-4"></div>
    <div class="w-full flex justify-end">
        <button hx-get="/add-todo/" hx-target="todos-body" hx-swap="beforeend"
                class="text-white font-medium rounded-lg h-10 px-2 py-1 bg-gray-800 flex justify-center items-center gap-2 whitespace-nowrap transition-colors hover:bg-gray-700">
            <img src="/static/icons/plus.svg" alt="plus icon" width="16" height="16" class="brightness-0 invert"/>
            <span>New todo</span>
        </button>
    </div>
</main>
{{end}}